/*
	Resets
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textField;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* 
    Typography 
*/
.font-family, .font-defaults, body {
  font-family: "Space Mono", monospace;
}

.style-normal, .font-defaults, body {
  font-style: normal;
}

.weight-regular, .font-defaults, body {
  font-weight: 400;
}

.weight-bold, .bold-32, #display-card output, .bold-24, #input-card input[type=number], #input-card fieldset label, header .logo, .bold-18, #display-card input[type=reset], .bold-16, #display-card label, #input-card label,
#input-card legend, .bold-14, .bold-12 {
  font-weight: 700;
}

.size-12, footer p, .bold-12 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.06em;
}

.size-14, #display-card label span, .bold-14 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.05em;
}

.size-16, .font-defaults, body, .bold-16, #display-card label, #input-card label,
#input-card legend {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.size-18, .bold-18, #display-card input[type=reset] {
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0.06em;
}

.size-24, #input-card .input-with-icon img,
#input-card .input-with-icon span, .bold-24, #input-card input[type=number], #input-card fieldset label, header .logo {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.size-32, .bold-32, #display-card output {
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: -0.02em;
}

/*
    Color
*/
:root {
  font-size: 62.5%;
  min-width: fit-content;
}

body {
  height: fit-content;
  background-color: #c5e4e7;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr max-content 1fr;
  justify-items: center;
}

header {
  min-height: max-content;
  align-self: end;
}
header .logo {
  width: 9rem;
  height: 7.5rem;
  margin-top: 4rem;
  margin-bottom: 3.2rem;
  letter-spacing: 0.42em;
  text-transform: uppercase;
  color: #3d6666;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  min-height: max-content;
  margin: 3.2rem 0;
}
footer > :first-child {
  padding-bottom: 0.6rem;
}
footer p {
  color: #5e7a7d;
  text-align: center;
}
footer a {
  color: #5e7a7d;
}
footer a:visited {
  color: inherit;
}
footer a:hover, footer a:focus {
  color: #00494d;
}

#input-card {
  padding: 0 0.8rem;
  margin-bottom: 3.2rem;
}
@media (min-width: 54.6875em) {
  #input-card {
    margin-bottom: 0;
    padding: 1.6rem 0;
  }
}
#input-card > *:not(:last-child) {
  margin-bottom: 3.2rem;
}
#input-card label,
#input-card legend {
  color: #5e7a7d;
}
#input-card input[type=number] {
  height: 4.8rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  border-color: white;
  text-align: right;
  padding: 1.6rem;
  padding-left: 4rem;
  background-color: #f4fafa;
  color: #00494d;
  caret-color: #44b4a6;
  transition-property: color, background-color, border-color;
  transition-duration: 400ms;
}
#input-card input[type=number]::placeholder {
  color: #9ebbbd;
}
#input-card input[type=number]:focus {
  border: 0.2rem solid #44b4a6;
}
#input-card input[type=number]:invalid {
  border: 0.2rem solid #b77f70;
  caret-color: #b77f70;
  color: #a8796c;
}
#input-card > div > label {
  display: block;
  margin-bottom: 0.6rem;
}
#input-card .input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}
#input-card .input-with-icon img,
#input-card .input-with-icon span {
  position: absolute;
  left: 1.6rem;
  z-index: 2;
  pointer-events: none;
  color: #9ebbbd;
}
#input-card fieldset {
  padding: 0;
  border: none;
}
#input-card fieldset .accessibility-safe-hide {
  opacity: 0;
  position: absolute;
  top: -10rem;
  z-index: -1;
}
#input-card fieldset legend {
  padding-bottom: 1.6rem;
}
#input-card fieldset input[type=radio] {
  z-index: 0;
  opacity: 0;
}
#input-card fieldset input[type=radio]:checked + label {
  background-color: #00e6c7;
  color: #00494d;
}
#input-card fieldset label {
  padding: 0.6rem 0;
  border-radius: 0.4rem;
  text-align: center;
  background-color: #00494d;
  color: white;
  z-index: 1;
  transition-property: color, background-color, border-color;
  transition-duration: 400ms;
}
#input-card fieldset label:hover {
  background-color: #9fe8df;
  color: #00494d;
}
#input-card fieldset label[for=tip-custom] {
  background-color: #f4fafa;
  color: #5e7a7d;
  transition-property: color, background-color, border-color;
  transition-duration: 400ms;
}
#input-card fieldset label[for=tip-custom]:hover {
  background-color: #9fe8df;
  color: #00494d;
}
#input-card fieldset > div {
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 4.8rem;
  grid-auto-flow: row;
}
@media (min-width: 36em) {
  #input-card fieldset > div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 45em) {
  #input-card fieldset > div {
    grid-template-columns: repeat(4, 1fr);
  }
  #input-card fieldset > div > :nth-last-child(3),
#input-card fieldset > div > :nth-last-child(2),
#input-card fieldset > div > :last-child {
    grid-column: span 2;
  }
}
@media (min-width: 54.6875em) {
  #input-card fieldset > div {
    grid-template-columns: repeat(2, 1fr);
  }
  #input-card fieldset > div > :nth-last-child(3),
#input-card fieldset > div > :nth-last-child(2),
#input-card fieldset > div > :last-child {
    grid-column: span 1;
  }
}
@media (min-width: 72.1875em) {
  #input-card fieldset > div {
    grid-template-columns: repeat(3, 1fr);
  }
}
#input-card fieldset > div > div:not(:last-child) {
  height: 4.8rem;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
}
#input-card fieldset > div > div:not(:last-child) > * {
  display: block;
  grid-row: 1/2;
  grid-column: 1/2;
}

#display-card {
  padding: 4rem 2.4rem 2.4rem;
  border-radius: 1.4rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, min-content) 1fr;
}
@media (min-width: 63.4375em) {
  #display-card {
    padding: 4rem;
  }
}
#display-card label {
  color: white;
}
#display-card label span {
  color: #9ebbbd;
}
#display-card output {
  text-align: right;
  color: #00e6c7;
}
@media (min-width: 63.4375em) {
  #display-card output {
    font-size: 4.8rem;
    line-height: 7.1rem;
  }
}
#display-card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#display-card input[type=reset] {
  width: 100%;
  height: min-content;
  align-self: end;
  padding: 1.1rem 0 1rem 0;
  margin-top: 1rem;
  border: none;
  border-radius: 0.4rem;
  text-transform: uppercase;
  color: #00494d;
  background-color: #00e6c7;
  transition-property: color, background-color, border-color;
  transition-duration: 400ms;
  transition-delay: 300ms;
}
#display-card input[type=reset]:disabled {
  color: #00494d;
  background-color: #0d686d;
}
#display-card input[type=reset]:enabled:hover {
  background-color: #9fe8df;
  transition-delay: 0ms;
}

#tip-calculator {
  min-width: 37.5rem;
  width: 37.5rem;
  padding: 3.2rem 2.4rem;
  border-radius: 2.5rem;
  background-color: white;
}
#tip-calculator > :last-child {
  background-color: #00494d;
}
@media (min-width: 29.4375em) {
  #tip-calculator {
    width: calc(100% - 4.8rem);
    margin: 0 4.8rem;
  }
}
@media (min-width: 54.6875em) {
  #tip-calculator {
    display: grid;
    grid-template-columns: 30.8rem minmax(34.3rem, 48.3rem);
    gap: 4.8rem;
    padding: 3.2rem;
    padding-left: 4.8rem;
    max-width: 91.9rem;
  }
}
@media (min-width: 65.4375em) {
  #tip-calculator {
    grid-template-columns: minmax(30.8rem, 41.6rem) 48.3rem;
    margin: 0 6.4rem;
    max-width: 102.7rem;
  }
}

/*# sourceMappingURL=styles.css.map */
