@use "../theme";
@use "breakpoints" as *;
@use "../theme/state";

:root {
  font-size: 62.5%;
  min-width: fit-content;
}

body {
  height: fit-content;

  @extend .font-defaults;
  background-color: theme.$page__background;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr repeat(3, max-content) 1fr;
  grid-template-areas: "." "header" "main" "footer" ".";
  justify-items: center;
}

header {
  align-self: end;
  grid-area: header;

  .logo {
    width: 9rem;
    height: 7.5rem;
    margin-top: 4rem;
    margin-bottom: 3.2rem;

    @extend .bold-24;
    letter-spacing: 0.42em;
    text-transform: uppercase;
    color: theme.$logo;
  }
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-area: main;
}

footer {
  min-height: max-content;
  margin: 3.2rem 0;
  grid-area: footer;

  > :first-child {
    padding-bottom: 0.6rem;
  }

  p {
    @extend .size-12;
    color: theme.$input__label;
    text-align: center;
  }

  a {
    color: theme.$input__label;

    &:visited {
      color: inherit;
    }

    @include state.hover {
      &:hover {
        color: theme.$primary-dark;
      }
    }

    &:focus {
      color: theme.$primary-dark;
      outline: none;
      background-color: theme.$primary;

      @include state.hover {
        &:hover {
          background-color: theme.$primary-light;
        }
      }
    }
  }
}
