/*
    Color
*/

$primary: #00e6c7;
$primary-dark: #00494d;
$primary-light: #9fe8df;

$logo: #3d6666;
$page__background: #c5e4e7;
$card__background: white;

$input__active: #44b4a6;
$input__error: #b77f70;
$input__error--dark: #a8796c;

$input__label: #5e7a7d;
$input__background: #f4fafa;
$input__placeholder: #9ebbbd;
$input__text: $primary-dark;

$button-primary: $primary;
$button-disabled: #0d686d;
$button-disabled-text: $primary-dark;
