@use "input-card";
@use "display-card";
@use "../theme";

#tip-calculator {
  // width: 37.5rem; // Temporary
  padding: 3.2rem 2.4rem;

  border-radius: 2.5rem;

  background-color: theme.$card__background;

  > :last-child {
    background-color: theme.$primary-dark;
  }
}
