@use 'input-card';
@use 'display-card';
@use '../theme';

#tip-calculator {
	width: 37.5rem; // Temporary


	background-color: theme.$card__background;

	> :last-child {
		background-color: theme.$primary-dark;
	}
}