@use "../theme";
@use "../layout/breakpoints" as *;

#tip-calculator {
  width: 37.5rem;
  padding: 3.2rem 2.4rem;

  border-radius: 2.5rem;
  background-color: theme.$card__background;

  > :last-child {
    background-color: theme.$primary-dark;
  }

  @include xs {
    width: calc(100% - 4.8rem);
    margin: 0 4.8rem;
  }

  @include md {
    display: grid;
    grid-template-columns: 30.8rem minmax(34.3rem, 48.3rem);
    gap: 4.8rem;
    padding: 3.2rem;
    padding-left: 4.8rem;
    max-width: 91.9rem;
  }

  @include ml {
    grid-template-columns: minmax(30.8rem, 41.6rem) 48.3rem;
    margin: 0 6.4rem;
    max-width: 102.7rem;
  }
}
