/*
    Color
*/

$primary: #00E6C7;
$primary-dark: #00494D;
$primary-light: #9FE8DF;

$logo: #3D6666;
$page__background: #C5E4E7;
$card__background: white;

$input__active: #44B4A6;
$input__error: #B77F70;

$input__label: #5E7A7D;
$input__background: #F4FAFA;
$input__placeholder: #9EBBBD;
$input__text: $primary-dark;

$button-primary: $primary;
$button-disabled: #0D686D;
$button-disabled-text: $primary-dark;